doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title خطای سرور
  body 
    h2 خطاهای سرور در این صفحه نمایش داده می شود 
    h3= errorMessage  