.img-header-about-us {
  min-height: 90vh;
  width: 100%;
}

.overlay {
  width: 100%;
  min-height: 86vh;
  background-color: rgba(0, 0, 0, 0.95);
}
.about-us-section-wrapper .header-title {
  color: #fff;
}
.about-us-section-wrapper .header-title p {
  margin: 20px;
  padding: 15px;
  font-size: 24px;
  text-shadow: 2px 1px #c85013;
  width: 90%;
  height: 100%;
  line-height: 55px;
  user-select: none;
  text-align: justify;
  font-weight: 500;
}

.about-us-section-wrapper .more-info {
  display: inline-block;
  background-color: var(--main-color-pink);
  /* background-color:#ddb9bb; */
  color: var(--main-font-color);
  border: 1px solid var(--main-border-color);
  font-size: 18px;
  padding: 5px 60px;
  font-weight: bold;
  transition: 0.5s ease-in;
  top: 280px;
  right: 330px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.about-us-section-wrapper .more-info::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f7ebf3;
  z-index: -1;
  transition: all 0.7s ease-in;
}
.about-us-section-wrapper .more-info:hover::before {
  width: 100%;
}

@media screen and (max-width: 678px) {
  .about-us-section-wrapper .header-title {
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    /* background-color: rgba(80, 153, 153, 0.3); */
    border-radius: 5px;

  }
  .about-us-section-wrapper .header-title p {
    color: white;
    margin: 15px 2px;
    padding-top: 5px;
    font-size: 14px;
    /* width: 300px !important; */
    height: auto;
    line-height: 22px;
    font-weight: 500;
  }

  .about-us-section-wrapper .more-info {
    top: 100px;
    font-size: 12px;
    padding: 4px 8px;
    right: 120px;
  }
  .about-us-section-wrapper .img-header {
    min-height: 100%;
  }
}

@media screen and (max-width: 800px) and (min-width: 678px) {
  .about-us-section-wrapper .header-title {
    text-align: center;
    margin-right: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
  }
  .about-us-section-wrapper .header-title h1 {
    margin: 10px;
    padding-top: 5px;
    font-size: 18px;
    width: 500px !important;
    height: auto;
    line-height: 34px;
  }

  .about-us-section-wrapper .more-info {
    top: 120px;
    font-size: 12px;
    padding: 5px;
    border-radius: 2px;
  }
  .about-us-section-wrapper .img-header {
    min-height: 100%;
  }
}

@media screen and (max-width: 900px) and (min-width: 800px) {
  .about-us-section-wrapper .header-title {
    text-align: center;
    margin-right: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
  }
  .about-us-section-wrapper .header-title h1 {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    font-size: 20px;
    width: 460px !important;
    height: auto;
    line-height: 35px;
  }

  .about-us-section-wrapper .more-info {
    font-size: 12px;
    padding: 5px 6px;
    border-radius: 2px;
    top: 130px;
  }
  .about-us-section-wrapper .img-header {
    min-height: 100%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  .about-us-section-wrapper .header-title {
    text-align: center;
    margin-right: 10px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
  }
  .about-us-section-wrapper .header-title h1 {
    margin: 10px;
    padding-top: 5px;
    font-size: 22px;
    width: 650px;
  }
  .about-us-section-wrapper .more-info {
    top: 200px;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 2px;
  }
  .about-us-section-wrapper .img-header {
    min-height: 100%;
  }
}
