.about-mataji-section-wrapper {
  min-height: 90vh;
  text-align: justify;
  color: var(--main-font-color);
}

.about-mataji-section-wrapper h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px 40px;
  color: var(--main-color-pink);
  font-size: 30px;
  text-align: center;
}

.about-mataji-section-wrapper .right-sec p {
  font-size: 22px;
  font-weight: 500;
  line-height: 46px;
  text-align: justify;
  padding: 10px 30px;
  margin-top: 20px;
}

.about-mataji-section-wrapper .shrimtji-sec2 p{
  font-size: 19px;
  font-weight: 500;
  line-height: 45px;
  text-align: justify;
}
.about-mataji-section-wrapper .shrimtji-sec2 a{
  font-weight: 600;
}
.about-mataji-section-wrapper .shrimtji-sec2 q{
  font-weight: 600;
  font-style: italic;
}
.about-mataji-section-wrapper .mataji-detail{
  font-size: 20px;
  margin-top: 50px;
  background-color: #ebe7e7;
  padding: 15px 2px;
  border-radius: 5px;
  min-width: 600px;
  text-align: center;
}

@media screen and (max-width: 678px) {
  .about-mataji-section-wrapper h3{
    font-size: 22px;
  }
  .about-mataji-section-wrapper .right-sec p {
    font-size: 18px;
    margin-top: 0px;
    padding: 5px 3px;
    line-height: 30px;
  }
  .about-mataji-section-wrapper .right-sec h3 {
    font-size: 20px;
  }
  .about-mataji-section-wrapper .chakra-sec h3 {
    font-size: 22px;
  }
  .about-mataji-section-wrapper .chakra-sec{
    margin-top: 5px!important;
  }
  .about-mataji-section-wrapper .chakra-sec p {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
  }

  .about-mataji-section-wrapper .img-chakras {
    margin-top: 10px;
  }
  .shape,
  .shape-octagon,
  .shape-nonagon,
  .shape-heptagon,
  .shape-decagon {
    display: none;
  }
  .about-mataji-section-wrapper .chakra-shape {
    height: 1000px;
  }
  .about-mataji-section-wrapper .chakra-shape p {
    font-size: 14px;
    line-height: 30px;
    padding: 1px;
  }
  .about-mataji-section-wrapper .chakra-shape h3 {
    font-size: 20px;
  }
  .about-mataji-section-wrapper .chakra-sec p a {
    font-size: 15px;
    font-weight: 500;
  }
}
@media screen and (max-width: 900px) and (min-width: 678px) {
  .about-mataji-section-wrapper .right-sec p {
    font-size: 18px;
    margin-top: 0px;
    padding: 5px 3px;
    line-height: 30px;
  }
  .about-mataji-section-wrapper .right-sec h3 {
    font-size: 20px;
  }
  .about-mataji-section-wrapper .chakra-sec h3 {
    font-size: 22px;
  }

  .about-mataji-section-wrapper .chakra-sec p {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
  }

  .about-mataji-section-wrapper .img-chakras {
    margin-top: 10px;
  }
  .shape,
  .shape-octagon,
  .shape-nonagon,
  .shape-heptagon,
  .shape-decagon {
    display: none;
  }
  .about-mataji-section-wrapper .chakra-shape {
    height: 1000px;
  }
  .about-mataji-section-wrapper .chakra-shape p {
    font-size: 14px;
    line-height: 30px;
    padding: 1px;
  }
  .about-mataji-section-wrapper .chakra-shape h3 {
    font-size: 20px;
  }
  .about-mataji-section-wrapper .chakra-sec p a {
    font-size: 15px;
    font-weight: 500;
  }
}
