.about-mataji-section-wrapper {
  min-height: 90vh;
  text-align: justify;
  color: var(--main-font-color);
}

.about-mataji-section-wrapper h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px 40px;
  color: var(--main-color-pink);
  font-size: 30px;
  text-align: center;
}

.about-mataji-section-wrapper .right-sec p {
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  text-align: justify;
  padding: 10px 30px;
  margin-top: 20px;
}
.about-mataji-section-wrapper .right-sec-detail p {
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  padding: 10px 30px;
  margin-top: 80px;
}

.about-mataji-section-wrapper img.img-mataji-tavalod2{
  margin-top: 20px;
}
.about-mataji-section-wrapper .mataji-sec2 p{
  font-size: 18px;
  font-weight: 500;
  line-height: 45px;
  text-align: justify;
}
.about-mataji-section-wrapper .mt-x{
  margin-top: 100px!important;
}

.img-babamama{
  position: relative;
  top: 80px;
  right: 100px;
  border-radius: 10px;
}
.about-mataji-section-wrapper .mataji-sec-nojavani p{
  margin-top: 50px;
}

.about-mataji-section-wrapper .mataji-sec2 a{
  font-weight: 600;
}
.about-mataji-section-wrapper .mataji-sec2 q{
  font-weight: 600;
  font-style: italic;
}
.about-mataji-section-wrapper .mataji-detail{
  font-size: 20px;
  margin-top: 50px;
  background-color: #ebe7e7;
  padding: 15px 2px;
  border-radius: 5px;
  min-width: 600px;
  text-align: center;
}

@media screen and (max-width: 678px) {
  .about-mataji-section-wrapper h3{
    font-size: 22px;
  }
  .about-mataji-section-wrapper .right-sec p,.about-mataji-section-wrapper .right-sec-detail p  {
    font-size: 16px;
    margin-top: 0px;
    padding: 5px 3px;
    line-height: 30px;
  }
  .about-mataji-section-wrapper .right-sec h3 {
    font-size: 20px;
  }
  .about-mataji-section-wrapper .mataji-sec2 p{
    font-size: 15px;
    line-height: 30px;
    margin-top: 10px;
  }
}
