/* Start -- Welcome Section style
********************************************************************************************************* */
.welcome-section-wrapper {
  /* background-color: var(--main-color-pink); */
  /* background-image:linear-gradient(#e464b9 50%, rgba(15, 12, 204,.7) 100%) ; */
  /* background-image: linear-gradient(0.25turn, #ec8618 , #fff,#185c9b);
  background-image: linear-gradient(0.25turn, #ec8618 , #fff,#185c9b); */

  /* linear-gradient(to left top, blue, red); */
  overflow: hidden;
}
.welcome-section-wrapper .first-page {
  background-image: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  height: 100vh;
}
.welcome-section-wrapper .first-page h4.first-page1 {
  width: 900px;
  margin: 50px auto;
  font-size: 36px;
  overflow: hidden;
}
.welcome-section-wrapper .first-page h5.first-page2 {
  /* width: 1100px; */
  margin: 10px auto;
  font-size: 38px;
  opacity: 1;
  position: absolute;
  left: -90vw;
  /* visibility: hidden; */
}

.welcome-section-wrapper .second-page {
  /* background-color: linear-gradient(0.25turn, #eccb0e , #fff,#185c9b)!important; */
  background-color: red;
  z-index: 3;
  font-size: 36px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -30vw;
  padding: 30px;
}

.welcome-section-wrapper .third-page {
  background-image: linear-gradient(0.25turn, #eccb0e, #fff, #185c9b);
  font-size: 36px;

  width: 30vw;
  height: 40vh;
  position: fixed;
}
/* *********************************************************************************************************
END -- Welcome Section style */

/* Start -- Contact Section style
********************************************************************************************************* */
.contact-section-wrapper .contact {
  color: #fff;
  font-size: 14px;
}

.contact-section-wrapper .contact i {
  padding-right: 8px;
  /* color:orange; */
  color: var(--main-color-pink);
  vertical-align: -2px;
}

.contact-section-wrapper .contact span {
  transition: 0.4s ease-in;
}

.contact-section-wrapper .contact span:hover {
  color: var(--main-color-pink); /*orange;*/
}

.contact-section-wrapper .social-network {
  text-align: center;
}

.contact-section-wrapper .social-network a {
  margin: 0 10px;
  transition: 0.3s ease-in;
  /* background-color: red; */
}

.contact-section-wrapper .social-network a {
  color: #fff;
  font-size: 20px;
  transition: 0.4s ease-out;
  /* background-color: red; */
}

.contact-section-wrapper .social-network a:hover {
  color: var(--main-color-pink);
}

@media screen and (max-width: 600px) {
  .xs-hidden {
    display: none;
  }
}
/* *********************************************************************************************************
END --Contact Section style */

/* Start -- HEADER Image Section style
********************************************************************************************************* */
/* Header Image section */
.img-header {
  min-height: 86vh;
  width: 100%;
}

.overlay {
  width: 100%;
  min-height: 86vh;
  background-color: rgba(0, 0, 0, 0.25);
}
.header-section-wrapper .header-title {
  color: #fff;
}
.header-section-wrapper .header-title h1 {
  margin: 30px;
  padding-top: 100px;
  font-size: 36px;
  text-shadow: 1px 1px #ff0000;
  width: 950px;
  height: 105px;
  line-height: 60px;
  user-select: none;
}

.header-section-wrapper .more-info {
  display: inline-block;
  background-color: var(--main-color-pink);
  /* background-color:#ddb9bb; */
  color: var(--main-font-color);
  border: 1px solid var(--main-border-color);
  font-size: 18px;
  padding: 5px 60px;
  font-weight: bold;
  transition: 0.5s ease-in;
  top: 280px;
  right: 330px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.header-section-wrapper .more-info::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f7ebf3;
  z-index: -1;
  transition: all 0.7s ease-in;
}
.header-section-wrapper .more-info:hover::before {
  width: 100%;
}

@media screen and (max-width: 678px) {
  .header-section-wrapper .header-title {
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    background-color: rgba(80, 153, 153, 0.3);
    border-radius: 5px;
  }
  .header-section-wrapper .header-title h1 {
    color: white;
    margin: 15px 2px;
    padding-top: 5px;
    font-size: 14px;
    width: 300px !important;
    height: auto;
    line-height: 22px;
  }

  .header-section-wrapper .more-info {
    top: 100px;
    font-size: 12px;
    padding: 4px 8px;
    right: 120px;
  }
  .header-section-wrapper .img-header {
    min-height: 100%;
  }
}

@media screen and (max-width: 800px) and (min-width: 678px) {
  .header-section-wrapper .header-title {
    text-align: center;
    margin-right: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
  }
  .header-section-wrapper .header-title h1 {
    margin: 10px;
    padding-top: 5px;
    font-size: 18px;
    width: 500px !important;
    height: auto;
    line-height: 34px;
  }

  .header-section-wrapper .more-info {
    top: 120px;
    font-size: 12px;
    padding: 5px;
    border-radius: 2px;
  }
  .header-section-wrapper .img-header {
    min-height: 100%;
  }
}

@media screen and (max-width: 900px) and (min-width: 800px) {
  .header-section-wrapper .header-title {
    text-align: center;
    margin-right: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
  }
  .header-section-wrapper .header-title h1 {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    font-size: 20px;
    width: 460px !important;
    height: auto;
    line-height: 35px;
  }

  .header-section-wrapper .more-info {
    font-size: 12px;
    padding: 5px 6px;
    border-radius: 2px;
    top: 130px;
  }
  .header-section-wrapper .img-header {
    min-height: 100%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  .header-section-wrapper .header-title {
    text-align: center;
    margin-right: 10px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
  }
  .header-section-wrapper .header-title h1 {
    margin: 10px;
    padding-top: 5px;
    font-size: 22px;
    width: 650px;
  }
  .header-section-wrapper .more-info {
    top: 200px;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 2px;
  }
  .header-section-wrapper .img-header {
    min-height: 100%;
  }
}

/* *********************************************************************************************************
END -- HEADER Image Section style */

/* Start -- MENU Section style
********************************************************************************************************* */
/* This style for Section of MENU  */

.nav-section-wrapper {
  background-color: #f8edeb;
  position: sticky;
  top: -2px;
  z-index: 999;
}

.nav-section-wrapper .custom-navbar-brand {
  background-image: url(../Images/Thumbnail/Log1.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 25px;
  padding-right: 40px;
}
.dropdown-menu-custom a {
  font-size: 14px;
}
.custom-navbar-nav .nav-link:hover {
  transition: border-bottom 0.4s ease;
  border-bottom: 3.8px solid var(--main-color-pink);
}
.custom-active {
  border-bottom: 3.5px solid var(--main-color-pink) !important;
}
.custom-navbar-toggler {
  border: none;
  outline: none;
}

.custom-navbar-toggler:focus {
  outline: none !important;
  border: none !important;
}
/* *********************************************************************************************************
END -- MENU Section style */

/* Start -- New Subjects Section style
********************************************************************************************************* */
.newsbj-section-wrapper {
  margin-top: 160px !important;
  margin-bottom: 100px;
}
.newsbj-section-wrapper h3 {
  font-size: 40px;
  padding-bottom: 20px;
}
.newsbj-section-wrapper .card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) */
}

.newsbj-section-wrapper .card .card-overlay {
  background-color: var(--color-card-overlay);
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.6s ease-in;
}

.newsbj-section-wrapper .card .card-overlay p {
  color: var(--main-color-font);
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
}
.newsbj-section-wrapper .card img {
  transition: all 0.6s ease-in;
}
.newsbj-section-wrapper .card:hover .card-overlay {
  opacity: 1;
}
.newsbj-section-wrapper .card:hover a img {
  /* transform: scale(1.03); */
}

/* *********************************************************************************************************
END -- New Subjects Section style */

/* Start -- Counter Section style
********************************************************************************************************* */
.counter-section-wrapper {
  margin-top: 130px !important;
}
.counter-section-wrapper .counter-div {
  background-image: linear-gradient(
    45deg,
    #d291bc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  min-height: 270px;
}

.counter-div div a {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter-div div h4,
h5 {
  font-size: 19px;
  color: var(--main-font-color);
}
.counter-div div i {
  font-size: 28px;
  color: var(--main-font-color);
}
@media screen and (max-width: 670px) {
  .counter-div div a {
    padding-top: 5px;
  }
  .counter-div div h4,
  .counter-div div i,
  .counter-div div h5 {
    font-size: 1rem;
    padding: 2px;
  }
}
/* *********************************************************************************************************
END -- Counter Section style */

/* Start -- MEDITATION Section style
********************************************************************************************************* */
/* Style for Meditation section */
.sahaj-course-section-wrapper .custom-card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  font-size: 14px;
  margin: 20px;
  color: #24242e;
  border-radius: 5px;
  min-height: 410px;
  cursor: pointer;
  transition: 0.3s ease-in;
  overflow: hidden;
}

.sahaj-course-section-wrapper .custom-card img {
  width: 100%;
  max-height: 247px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sahaj-course-section-wrapper .custom-card .card-title {
  font-size: 16px;
  text-align: right;
  padding: 0px 1px 0px;
  color: var(--main-color-pink);
}

#selfFreedomLog::before {
  content: url(/assets/Images/Thumbnail/Ashnai-32.jpg);
  padding-left: 5px;
  vertical-align: -12px;
}
#selfAwarenessLog::before {
  content: url(/assets/Images/Thumbnail/Tajrobeh.jpg);
  padding-left: 4px;
  vertical-align: -9px;
}
#sahajaMeditationLog::before {
  content: url(/assets/Images/Thumbnail/Important-med-25.jpg);
  padding-left: 4px;
  vertical-align: 0px;
}
#subtleSystemLog::before {
  content: url(/assets/Images/Thumbnail/subtleSystem32.jpg);
  padding-left: 4px;
  vertical-align: -9px;
}
#important-med5::before {
  content: url(/assets/Images/Thumbnail/Log1.png);
  padding-left: 4px;
  vertical-align: -9px;
}
#important-med6::before {
  content: url(/assets/Images/Thumbnail/Log1.png);
  padding-left: 4px;
  vertical-align: -9px;
}
.sahaj-course-section-wrapper .custom-card .card-description {
  font-size: 13px;
  padding: 0 16px;
}

.sahaj-course-section-wrapper .card-body p.card-text {
  padding-top: 0;
  font-size: 14px;
}
.sahaj-course-section-wrapper .custom-card .card-overlay {
  background-color: var(--color-card-overlay);
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.6s ease-in;
}
.sahaj-course-section-wrapper .custom-card:hover .card-overlay {
  opacity: 1;
}
.sahaj-course-section-wrapper .custom-card .card-overlay p {
  color: #fff;
  font-size: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.sahaj-course-section-wrapper .custom-card:hover {
  box-shadow: 1px 1px 4px rgb(87, 85, 85);
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
}
.sahaj-course-section-wrapper .btn-more-info {
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  padding: 3px 6px;
  background-color: var(--main-color-pink);
  border-color: pink;
  transition: background-color 0.5s ease-in;
}
.sahaj-course-section-wrapper .btn-more-info:hover {
  background-color: var(--main-hover-color);
  color: var(--main-font-color);
}

@media screen and (max-width: 1002px) {
  .sahaj-course-section-wrapper .custom-card .card-overlay p {
    font-size: 12px;
    width: 90%;
  }
  .sahaj-course-section-wrapper .card-body p.card-text {
    font-size: 13px;
  }
  .sahaj-course-section-wrapper .card-body .card-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 763px) {
  .sahaj-course-section-wrapper .custom-card .card-overlay p {
    font-size: 14px;
    width: 90%;
  }
  .sahaj-course-section-wrapper .card-body p.card-text {
    font-size: 14px;
  }

  .sahaj-course-section-wrapper .card-body .card-title {
    font-size: 16px;
  }
}

/* *********************************************************************************************************
END -- MEDITATION Section style */

/* Start -- Experince Section style
********************************************************************************************************* */
.experince-section-wrapper {
  background-color: #fafafa;
  margin-top: 150px !important;
  /* min-height: 450px; */
}
.experince-section-wrapper .experince-title {
  font-size: 20px;
  border-bottom: 1px solid var(--main-color-pink);
  padding: 5px 0;
  margin-bottom: 12px;
}

.experince-section-wrapper .owl-carousel-item-custom {
  position: relative;
  color: var(--main-font-color);
  font-size: 15px;
  min-height: 320px;
  border-left: 1px solid var(--main-color-pink);
  line-height: 27px;
  padding: 20px;
  text-align: justify;
}

.experince-section-wrapper .owl-carousel-item-custom i {
  color: #fff;
  background-color: var(--main-color-pink);
  padding: 10px;
  border-radius: 100%;
  position: absolute;
  left: -16px;
  top: 140px;
}
.experince-section-wrapper .owl-carousel-item-custom img {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  left: 10px;
  top: 220px;
}
.experince-section-wrapper .owl-carousel-item-custom a {
  background-color: var(--main-color-pink);
  border: 1px solid var(--main-border-color);
  font-size: 14px;
  padding: 4px 10px;
  color: white;
  transition: 0.5s ease-in;
  border-radius: 15px;
  display: block;
  width: 60% !important;
  position: absolute;
  right: 10px;
  top: 250px;
}
.experince-section-wrapper .owl-carousel-item-custom a:hover {
  background-color: var(--bg-color-hover-a);
  color: var(--main-font-color);
}

@media screen and (max-width: 766px) {
  .experince-section-wrapper .owl-carousel-item-custom {
    font-size: 13px;
  }
  .experince-section-wrapper .owl-carousel-item-custom h5 {
    font-size: 16px;
  }
  .experince-section-wrapper .owl-carousel-item-custom a {
    /* display: block; */
    width: 60% !important;
    font-size: 0.8rem;
  }
}

/* *********************************************************************************************************
END -- Experince Section style */

/* Start -- FAQ Section style
********************************************************************************************************* */
.faq-section-wrapper{
  margin-top: 120px;
  padding: 120px 0 180px 0;
  background-image: url('../Images/bg/bg.png');
  background-repeat: repeat;

  /* background-size: ; */

}

.faq-section-wrapper h3{
  font-size: 25px;
  padding-bottom: 30px;
}
/* *********************************************************************************************************
END -- FAQ Section style */

/* Start -- FOOTER Section style
********************************************************************************************************* */
footer {
  margin-top: 0px;
  min-height: 250px;
  background-image:linear-gradient(180deg, #f11caa 0%, rgba(255, 255, 255, .1) 100%) ;
  /* background-color: var(--main-color-pink); #ee4cb8 */
}

footer .footer-sahajayoga-title {
  text-align: right;
  /* padding-bottom: 13px; */
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-bottom: 5px;
  padding-right: 20px;
}
footer .footer-sahajayoga-title span {
  padding-right: 50px;
  font-size: 17px;
  color: #fff;
}
footer .footer-sahajayoga-title .footer-sahaj-log {
  background-image: url(../Images/Thumbnail/Log1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 25px;
  position: absolute;
  margin-top: -5px;
  /* padding-right: 40px; */
}
footer .footer-sahajyoga-body {
  padding: 15px 12px;
}

footer .footer-sahajyoga-body h5 {
  font-size: 14px;
  line-height: 25px;
}

footer .footer-service-title, .footer-social-network-title, .footer-contact-us-title {
  border-bottom: 1px solid #ddd;
  color: #fff;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 5px;
}
footer .footer-service-title span , .footer-social-network-title span ,
.footer-contact-us-title span{
  padding: 20px;
  /* margin-right: 30px */
}
footer .footer-service-title i{
  padding-right: 12px;
  font-size: 18px;
  transform: rotate(-30deg);
}
footer .footer-services ul {
  padding: 10px 14px;
}
footer .footer-services ul li a {
  padding-right: 5px;
  font-size: 14px;
  color: var(--main-font-color);
  transition: all .6s ease-in;
}
footer .footer-services ul li{
  transition: all .6s ease-in;
}
footer .footer-services ul li::before {
  content: "\276f";
  /* padding-right: 2px; */
  color: #ddd;
  padding-left: 4px;
  vertical-align: -3px;
  transition: all .6s ease-in;
}
footer .footer-services ul li:hover { 
  padding-right: 15px;
}
footer .footer-services ul li:hover a{
  color: #fff;
}
footer .footer-social-network-body{
  padding:30px;
  font-size: 25px;
}
footer .footer-social-network-body i{
  padding-right: 30px;
  color: #ddd;
  transition: all .5s ease-in;
}
footer .footer-social-network-body i:hover{
  color: #fff;
  transform: translateY(-8px);
}

footer .footer-social-ntw-inputs input{
  font-size: 12px;
  outline: none;
}

footer .footer-social-ntw-inputs .form-control:focus{
  outline: 0!important;
  box-shadow: 0 0 0 ;
  border: none;
}
footer .footer-contact-us-body{
  padding: 20px;
}
footer .footer-contact-us-body i{
  padding-left: 5px;
  color: #ddd;
}
footer .footer-contact-us-body span{
  font-size: 14px;
  padding-top: 15px;
  display: inline-block;
  transition: color .6s ease-in;
}  

footer .footer-contact-us-body span:hover{
  color:#fff;
}

footer .footer-text-footer{
  border-top: 1px solid #efefef;
  padding-top: 10px;
  font-size: 13px;
}
/* *********************************************************************************************************
END -- FOOTER Section style */

/* Start -- About SMJ Section style
********************************************************************************************************* */
.about-jsm-section-wrapper .about-jsm-right-side img{
  border-radius: 5px;
}
.about-jsm-section-wrapper .about-jsm-left-side{
  background: #fafafa;
  border-radius: 5px;
  color: var(--main-font-color);
}
.about-jsm-section-wrapper .about-jsm-left-side h4{
  font-size: 24px;
  text-align: center;
  max-width: 400px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.about-jsm-section-wrapper .about-jsm-left-side p{
  position: relative;
  margin-top: 15px;
  text-align: justify;
  padding-bottom: 30px;
  line-height: 33px;
}
.about-jsm-section-wrapper .about-jsm-left-side p a{
  position: absolute;
  left: 20px;
  bottom: -10px;
  background-color: var(--main-color-pink);
  padding: 3px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  border: 1px solid var(--main-border-color);
  transition: all .4s ease-in;
}
.about-jsm-section-wrapper .about-jsm-left-side p a:hover{
  background-color:var(--bg-color-hover-a);
  color: var(--main-font-color);
}
@media  screen  and (max-width:768px){
  .about-jsm-section-wrapper .about-jsm-left-side{
      margin-top: 10px;
      font-size: .9rem;
  }
  .about-jsm-section-wrapper .about-jsm-left-side h4{
      font-size: 1.2rem;
  }
  .about-jsm-section-wrapper .about-jsm-left-side p a{
      font-size:.8rem ;
      padding: 1px 8px;
  }
}
/* *********************************************************************************************************
END -- About SMJ Section style */


/* Start -- Welcome Section style
********************************************************************************************************* */
/* *********************************************************************************************************
END -- Welcome Section style */


/* Start -- Welcome Section style
********************************************************************************************************* */
/* *********************************************************************************************************
END -- Welcome Section style */
