.sahaja-meditation-section-wrapper{
  min-height: 90vh;
  text-align: justify;
  color: var(--main-font-color);
}

.sahaja-meditation-section-wrapper h3{
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px 40px;
  color: var(--main-color-pink );
  font-size: 30px;
  text-align: center;
}

.sahaja-meditation-section-wrapper .right-sec p{
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  text-align: justify;
}

.sahaja-meditation-section-wrapper .right-sec p a{
  font-weight: 600;
}
.sahaja-meditation-section-wrapper .right-sec p a:hover{
  font-weight: 700;
  font-style: italic;
}

.sahaja-meditation-section-wrapper img{
  margin-top: 10px;
  border-radius: 28px;
}
.sahaja-meditation-section-wrapper .img-title p{
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
  color:var(--main-color-pink);
}

.shape,.shape1,.shape2{
  position: absolute;
  width: 100%;
  min-height: 200vh;
  background-color: rgba(228, 133, 133,.2);
  /* clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0 60%); */
  /* clip-path: polygon(150% 15%, 150% 50%, 0% 100%, 0% 30%); */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: -1;
  top:350px
}
.shape1{
  top:650px;
}
.shape2{
  top: 1900px;
  clip-path: polygon(0% 50%, 100% 50%, 50% 140%, 0 50%);
  background-image:linear-gradient(180deg, rgb(228, 133, 133) 0%, rgba(255, 255, 255, .1));
}

@media screen and (max-width:670px) {
  .sahaja-meditation-section-wrapper .right-sec h3{
    font-size: 24px;
  }
  
  .sahaja-meditation-section-wrapper .right-sec p{
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
  }
}


/* for what is sahaj meditation and whta not  */

.sahaja-meditation2-section-wrapper {
  text-align: justify;
  /* background-color: rgba(0, 0, 0, 0.3); */
}
.sahaja-meditation2-section-wrapper h2 {
  color: #454040;
  font-size: 30px;
  text-shadow: 1px 1px 5px #ec4343;
  line-height: 60px;
  user-select: none;
  text-align: center;
  position: relative;
  bottom: 150px;
  left: 150px;
  margin-bottom: 25px;
  font-weight: bolder;
}

.img-header-medt {
  min-height: 83vh;
  width: 100%;
}

.sahaja-meditation2-section-wrapper .animeh1 {
  font-size: 20px;
  width: 100%;
  color: red;

  position: relative;
  top: 200px;
  right: -1000px;

  animation-name: sahajtext1;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes sahajtext1 {
  0% {
    right: -200px;
  }
  25% {
    right: 50px;
  }
  50% {
    right: 70px;
  }
  75% {
    right: 100px;
  }
  100% {
    right: 120px;
    display: none;
  }
}

@media screen and (min-width:500px) and (max-width: 1200px) {
    .sahaja-meditation2-section-wrapper h2 {
      font-size: 19px;
      bottom: 0px;
      left: 0;
      line-height: 50px;
      margin: 0;
    }
}

