.about-jsm-section-wrapper .about-jsm-right-side img{
    border-radius: 5px;
}
.about-jsm-section-wrapper .about-jsm-left-side{
    background: #fafafa;
    border-radius: 5px;
    color: var(--main-font-color);
}
.about-jsm-section-wrapper .about-jsm-left-side h4{
    font-size: 24px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.about-jsm-section-wrapper .about-jsm-left-side p{
    position: relative;
    margin-top: 15px;
    text-align: justify;
    padding-bottom: 30px;
    line-height: 33px;
}
.about-jsm-section-wrapper .about-jsm-left-side p a{
    position: absolute;
    left: 20px;
    bottom: -10px;
    background-color: var(--main-color-pink);
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    border: 1px solid var(--main-border-color);
    transition: all .4s ease-in;
}
.about-jsm-section-wrapper .about-jsm-left-side p a:hover{
    background-color:var(--bg-color-hover-a);
    color: var(--main-font-color);
}
@media  screen  and (max-width:768px){
    .about-jsm-section-wrapper .about-jsm-left-side{
        margin-top: 10px;
        font-size: .9rem;
    }
    .about-jsm-section-wrapper .about-jsm-left-side h4{
        font-size: 1.2rem;
    }
    .about-jsm-section-wrapper .about-jsm-left-side p a{
        font-size:.8rem ;
        padding: 1px 8px;
    }
}