.contact-section-wrapper .contact{
    color: #fff;
    font-size: 14px;
}

.contact-section-wrapper .contact i{
    padding-right: 8px;
    /* color:orange; */
    color:var(--main-color-pink);
    vertical-align: -2px;

}

.contact-section-wrapper .contact span{
    transition: .4s ease-in;
}

.contact-section-wrapper .contact span:hover{
    color:var(--main-color-pink); /*orange;*/
}

.contact-section-wrapper .social-network{
    text-align: center;
}

.contact-section-wrapper .social-network a{
    margin: 0 10px;
    transition: .3s ease-in;
    /* background-color: red; */
}

.contact-section-wrapper .social-network a {
    color: #fff;
    font-size: 20px;
    transition: .4s ease-out;
    /* background-color: red; */
}

.contact-section-wrapper .social-network a:hover{
    color:var(--main-color-pink);
}

@media screen and (max-width:600px){
     .xs-hidden{
        display: none;
     }
}