.counter-section-wrapper{
  margin-top: 130px!important;
}
.counter-section-wrapper .counter-div{
  background-image:linear-gradient(45deg, #d291bc 0%, rgba(255, 255, 255, 0) 100%) ;
  min-height: 270px;
}

.counter-div div a{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter-div div h4,h5{
  font-size: 19px;
  color:var(--main-font-color);
}
.counter-div div i{
  font-size: 28px;
  color: var(--main-font-color);
}
@media screen and (max-width:670px) {
  .counter-div div a{
    padding-top: 5px;
  }
  .counter-div div h4,.counter-div div i,.counter-div div h5{
    font-size: 1rem;
    padding: 2px;
  }

  
}