.experince-section-wrapper{
  background-color: #fafafa;
  /* min-height: 450px; */
}
.experince-section-wrapper .experince-title{
  font-size: 20px;
  border-bottom: 1px solid var(--main-color-pink);
  padding: 5px 0;
  margin-bottom: 12px;
}

.experince-section-wrapper .owl-carousel-item-custom{
  position: relative;
  color: var(--main-font-color);
  font-size: 15px;
  min-height: 320px;
  border-left:1px solid var(--main-color-pink);
  line-height: 27px;
  padding: 20px;
  text-align: justify;
}

.experince-section-wrapper .owl-carousel-item-custom i{
  color: #fff;
  background-color: var(--main-color-pink);
  padding: 10px;
  border-radius: 100%;
  position: absolute;
  left: -16px;
  top: 140px;
}
.experince-section-wrapper .owl-carousel-item-custom img{
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  left: 10px;
  top: 220px;
}
.experince-section-wrapper .owl-carousel-item-custom a{
  background-color:var(--main-color-pink);
  border: 1px solid var(--main-border-color);
  font-size: 14px;
  padding: 4px 10px;
  color:white;
  transition: .5s ease-in;
  border-radius: 15px;
  display: block;
  width: 60%!important;
}
@media screen and (max-width:766px){
  .experince-section-wrapper .owl-carousel-item-custom{
    font-size: 13px;
  }
  .experince-section-wrapper .owl-carousel-item-custom h5{
    font-size: 16px;
  }
 .experince-section-wrapper .owl-carousel-item-custom a{
    /* display: block; */
    width: 100%!important;
    font-size: .8rem;
  }
}