.get-realization-section-wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: url(../Images/freedom4.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}

/* .get-realization-section-wrapper::after{
  content: '';
  position:absolute;
  bottom: -110px;
  right: 0;
  width: 110%;
  height: 100px;
  background-image: linear-gradient(to top,var(--main-color-pink),transparent);
  z-index:1;
} */

.get-realization-section-wrapper .title {
  /* color: #9d8189;264653  */
  color: #e8bda7;
  text-align: center;
  text-shadow: 2px 2px #372a27;
  /* text-shadow: 2px 2px #d4a373; */
  /* text-shadow: 2px 2px rgb(44, 43, 43); */
  font-size: 34px;
  line-height: 48px;
  font-weight: bolder;
}

.get-realization-section-wrapper .p-t-480{
  padding: 80vh 0px 0;
}
.get-realization-section-wrapper .title1 {
  margin-top: 70px!important;
  font-weight: 700;
  font-size: 42px;
  line-height: 75px;
}
.get-realization-section-wrapper .title2 {
  line-height: 80px;
  font-size: 36px;
}
.get-realization-section-wrapper .sec2 {
  width: 100%;
  min-height: 10vh;

  background-image: url(../Images/freedom4.jpg)!important;
  /* background-position: center;
  background-size: cover; */
  background-attachment:fixed ;
  
}


.get-realization-section-wrapper .more-info{
  background-color:#6c84bc;
  border: 1px solid #738dc1;
  font-size: 20px;
  padding: 10px 70px;
  color:#fff;
  font-weight: bold;
  transition: .5s ease-in;
  border-radius: 5px;
}

.get-realization-section-wrapper .more-info:hover{
  text-shadow: none;
  background-color:#f7ebf3;
  color: var(--main-font-color);
} 

@media screen and (max-width:670px){
  .get-realization-section-wrapper .title {
    font-size: 28px;
  }
  .get-realization-section-wrapper .title1 {
    font-size: 26px;
  }
  .get-realization-section-wrapper .title2 {
    font-size: 26px;
  }
}

