/* Style for Meditation section */
.sahaj-course-section-wrapper .custom-card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  font-size: 14px;
  margin: 20px;
  color: #24242e;
  border-radius: 5px;
  min-height: 410px;
  cursor: pointer;
  transition: 0.3s ease-in;
  overflow: hidden;
}

.sahaj-course-section-wrapper .custom-card img {
  width: 100%;
  max-height: 247px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sahaj-course-section-wrapper .custom-card .card-title {
  font-size: 16px;
  text-align: right;
  padding: 0px 1px 0px;
  color: var(--main-color-pink);
}

#important-med::before {
  content: url(/assets/Images/Thumbnail/Ashnai-32.jpg);
  padding-left: 5px;
  vertical-align: -12px;
}
#important-med2::before {
  content: url(/assets/Images/Thumbnail/Tajrobeh.jpg);
  padding-left: 4px;
  vertical-align: -9px;
}
#important-med3::before {
  content: url(/assets/Images/Thumbnail/Important-med-25.jpg);
  padding-left: 4px;
  vertical-align: 0px;
}
#important-med4::before {
  content: url(/assets/Images/Thumbnail/Log1.png);
  padding-left: 4px;
  vertical-align: -9px;
}
#important-med5::before {
  content: url(/assets/Images/Thumbnail/Log1.png);
  padding-left: 4px;
  vertical-align: -9px;
}
#important-med6::before {
  content: url(/assets/Images/Thumbnail/Log1.png);
  padding-left: 4px;
  vertical-align: -9px;
}
.sahaj-course-section-wrapper .custom-card .card-description {
  font-size: 13px;
  padding: 0 16px;
}

.sahaj-course-section-wrapper .card-body p.card-text {
  padding-top: 0;
  font-size: 14px;
}
.sahaj-course-section-wrapper .custom-card .card-overlay {
  background-color: var(--color-card-overlay);
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.6s ease-in;
}
.sahaj-course-section-wrapper .custom-card:hover .card-overlay {
  opacity: 1;
}
.sahaj-course-section-wrapper .custom-card .card-overlay p {
  color: #fff;
  font-size: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.sahaj-course-section-wrapper .custom-card:hover {
  box-shadow: 1px 1px 4px rgb(87, 85, 85);
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
}
.sahaj-course-section-wrapper .btn-more-info {
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  padding: 3px 6px;
  background-color: var(--main-color-pink);
  border-color: pink;
  transition: background-color 0.5s ease-in;
}
.sahaj-course-section-wrapper .btn-more-info:hover {
  background-color: var(--main-hover-color);
  color: var(--main-font-color);
}

@media screen and (max-width: 1002px) {
  .sahaj-course-section-wrapper .custom-card .card-overlay p {
    font-size: 12px;
    width: 90%;
  }
  .sahaj-course-section-wrapper .card-body p.card-text {
    font-size: 13px;
  }
  .sahaj-course-section-wrapper .card-body .card-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 763px) {
    .sahaj-course-section-wrapper .custom-card .card-overlay p {
        font-size: 14px;
        width: 90%;
      }
      .sahaj-course-section-wrapper .card-body p.card-text {
        font-size: 14px;
      }
    
    .sahaj-course-section-wrapper .card-body .card-title {
    font-size: 16px;
  }
}
