/* This style for Section of MENU  */

.nav-section-wrapper {
  padding-top: 2px;
  background-color: #f8edeb;
  /* background-color: #dbd7d7; */
  z-index: 999;
}

.nav-section-wrapper .custom-navbar-brand {
  background-image: url(../Images/Thumbnail/Log1.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 25px;
  padding-right: 40px;
}
.dropdown-menu-custom a{
  font-size: 14px;
}
.custom-navbar-nav .nav-link:hover{
  transition: border-bottom .4s ease;
  border-bottom: 3.8px solid var(--main-color-pink);
}
.custom-active{
    border-bottom: 3.5px solid var(--main-color-pink) !important;
}
.custom-navbar-toggler{
  border: none;
  outline: none;
}   

.custom-navbar-toggler:focus{
  outline: none!important;
  border: none!important;
}