.myexperince-section-wrapper{
  background-color: #f3eded;
  border-radius: 20px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  
}

.myexperince-section-wrapper h3{
  text-align: center;
  padding: 20px 0 20px;
  color: var(--main-color-pink );
  font-size: 30px;
}

.myexperince-section-wrapper img{
  border-radius: 10px;
  margin-top: 10px;
}

.myexperince-section-wrapper input{
  font-size: 15px;
}

.myexperince-section-wrapper label{
  font-size: 14px;
}

.myexperince-section-wrapper .txt-experience{
  min-height: 110px;
}

.myexperince-section-wrapper .mandatory{
  color: var(--bg-color-mandatory-fields);
}

.myexperince-section-wrapper .mandatory::before{
  content: '*';
  font-weight: 500;
  position: relative;
  padding-left: 4px;
  padding-right: 2px;
  top: 3px;
}

.myexperince-section-wrapper .errMessage{
  font-size: 12px;
  font-weight: 500;
  color:var(--bg-color-mandatory-fields)
}
.myexperince-section-wrapper .errMessage::before{
  font-family: "Font Awesome 5 Free";
  content: "\f057";
  display: inline-block;
  position: relative;
  top:2px;
  padding-left: 1px;
}

.myexperince-section-wrapper .custom-btn{
  font-size: 13px;
  width:95px;
}
.myexperince-section-wrapper .captcha input{
  border: none;
  outline: 0 !important;
}

.myexperince-section-wrapper .captcha input:focus{
  box-shadow: none;
}
.myexperince-section-wrapper #captchaValue{
  background-color: rgb(240, 194, 194); 
  width: 760px; 
  height: 36px;
  border-radius: 0 6px 6px 0 ;
  text-align: right;
  line-height: 33px;
  padding-right: 10px;

}
.myexperince-section-wrapper #captchaInput{
  text-align: center;

}
@media screen and (max-width:880px) {
  .myexperince-section-wrapper h3{
    font-size: 25px;
  }
  .myexperince-section-wrapper img{
    margin-top: 130px;
  };
}

@media screen and (max-width:770px){
  .myexperince-section-wrapper img{
    margin: 10px;
  }
}