@import url(../CSS/_contact.css);
@import url(../CSS/_menu.css);
@import url(../CSS/_header.css);
@import url(../CSS/_welcome.css);
@import url(../CSS/_med.css);
@import url(../CSS/_about-jsm.css);
@import url(../CSS/_counter.css);
@import url(../css/_experince.css);

:root {
  --main-color-orange: orange;
  --main-color-pink: #d291bc;
  --main-hover-color: #b86f9f;
  --main-border-color: pink;
  --bg-color-contact: #232f3e; /* -- Old :#13212e */
  --bg-color-pink: #f7ebf3;
  --color-card-overlay: rgba(210, 145, 188, 0.4);
  --main-font-color: #24242e;
  --bg-color-hover-a: #f7ebf3;
}

@font-face {
  font-family: Vazeir;
  src: url(../Fonts/Vazir-Medium.eot) format("eot"),
    url(../Fonts/Vazir-Medium.woff) format("woff"),
    url(../Fonts/Vazir-Medium.woff2) format("woff2");

  font-style: normal;
  font-weight: 700;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazeir;
}
body {
  direction: rtl;
}
a {
  text-decoration: none;
}
figure {
  position: relative;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-fluid-custom {
  background-color: var(--bg-color-contact);
  height: 50px;
  color: #fff;
  /* padding: 0; */
}

section.counter-section-wrapper{
  background-image: url(../Images/bg_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  50% 30%;
  z-index: 0;

}
a.more-info{
}
