@import url(../CSS/_contact.css);
@import url(../CSS/_menu.css);
@import url(../CSS/_nav.css);
@import url(../CSS/_header.css);
@import url(../CSS/_welcome.css);
@import url(../CSS/_med.css);

:root{
  --main-color-orange:orange;
  --main-color-pink:#d291bc;
  --color-pink-bg:#f7ebf3;
  --color-card-overlay:rgba(210,145,188, .4);
  --main-font-color:#24242e;
}


@font-face {
  font-family: Vazeir;
  src: url(../Fonts/Vazir-Medium.eot) format("eot"),
    url(../Fonts/Vazir-Medium.woff) format("woff"),
    url(../Fonts/Vazir-Medium.woff2) format("woff2");

  font-style: normal;
  font-weight: 700;
}

.container-fluid-custom {
  background-color: rgb(12, 12, 56);
  /* height: 45px; */
  color: #fff;
  padding: 11px;
}

.testclass{
  background-color: var(--main-color);
}